@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1158px;
  height: 80px;
  min-height: 80px;
  background: transparent;
}
.nav-links li {
  display: inline-block;
  margin-left: 20px;
  font-weight: 700;
}
.nav-links li a {
  display: block;
  font-weight: 700;
  color: #2a2a2a;
  text-transform: capitalize;
  transition: all 0.3s ease 0s;
  height: 40px;
  line-height: 40px;
  border: transparent;
  letter-spacing: 1px;
}
.nav-links li .blog {
  color: #ff0000;
}

.nav-links li a:hover {
  color: #ff0000;
}
.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
  padding: 0px 20px;
  transition: all 0.3s ease 0s;
  height: 40px;
  line-height: 40px;
  border: transparent;
  letter-spacing: 2px;
  display: inline-block;
  color: #ffffff !important;
  border: 1px solid #ff0000;
  border-radius: 23px;
  font-weight: 600;
  letter-spacing: 0.3px;
  background: #ff0000;
}
.btn:hover {
  color: #ffffff !important;
  background: #fa65b1;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 2rem;
}

.hero {
  height: 425px;
  width: 100%;
  max-width: 1158px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin: 0 auto;

  box-shadow: 0px 14px 40px rgba(0, 0, 0, 0.15);
}
.right-side,
.left-side {
  margin: 1rem;
  width: 100%;
}
.right-side {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}
.heading {
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.04em;
  text-align: left;
}
.sub-heading {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.04em;
  text-align: left;
}
.person-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.person-img {
  height: 30px;
  width: 30px;
  border-radius: 0px;
}
.person-info-text {
  margin-left: 0.5em;
}
.person-name {
  font-size: 16px;
  font-weight: bold;
  margin-right: 1rem;
  color: #000000;
  border-bottom: #626262 1.1px solid;
}
.post-date {
  font-size: 14px;
  color: #000000;
  font-weight: bold;
  margin-right: 1rem;
}

.check-mai {
  display: none;
}

label {
  display: flex;
  flex-direction: column;
  width: 45px;
  height: 45px;
  cursor: pointer;
}

label span {
  background: rgb(0, 0, 0);
  border-radius: 10px;
  height: 3px;
  margin: 5px 0;
  transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

span:nth-of-type(1) {
  width: 50%;
}

span:nth-of-type(2) {
  width: 100%;
}

span:nth-of-type(3) {
  width: 75%;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked ~ span:nth-of-type(1) {
  transform-origin: bottom;
  transform: rotatez(45deg) translate(7px, 0px);
}

input[type="checkbox"]:checked ~ span:nth-of-type(2) {
  transform-origin: top;
  transform: rotatez(-45deg);
}

input[type="checkbox"]:checked ~ span:nth-of-type(3) {
  transform-origin: bottom;
  width: 50%;
  transform: translate(20px, -7px) rotatez(45deg);
}

/* Card section start Here */
.cards-hero {
  margin: 2rem 0;
  width: 100%;
  max-width: 1158px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.6rem;
}
img {
  width: 100%;
}
.card {
  height: 400px;
  width: 100%;
  max-width: 378px;
  padding: 0.5em;
  margin-top: 0.5em;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.card-top {
  margin-top: 1em;
}
.card-body h2 {
  margin: 0.5em 0;
}
.card-body .card-person-info {
  margin: 1em 0;
  display: flex;
  align-items: flex-end;
}
.card-top p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}
.card-heading {
  font-family: "Roboto", sans-serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}

/* pagination-main start here */

.pagination-main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  width: 100%;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
  color: #000000;
}
.page-item {
  height: 45px;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 47px;
  letter-spacing: 0.055em;
  color: #000;
  transition: 0.5s;
}
.page-item:nth-child(1) {
  background: #000000;
}
.page-item:nth-child(1) .page-link {
  color: #ffffff;
}
/* .page-item:hover {
  color: #ffffff;
  background: #000000;
}
.page-link:nth-child(1):hover {
  color: #fff;
} */

/* pagination-main end here */

/* Footer start here */
.footer-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
  width: 100%;
  background: #282c4b;
  color: #fff;
}
.footer-main a {
  color: #fff;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1158px;
  margin: 0 auto;
  margin-top: 2rem;
  flex-wrap: wrap-reverse;
  gap: 15px;
}
hr {
  width: 98%;
  border: 0;
  height: 1px;
  background-color: #fff;
  margin: 0.5em;
  margin-top: 2rem;
}
.footer-logo {
  height: 45px;
  width: 45px;
  margin-right: 1rem;
}
.address-top {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.footer-sections {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin-right: 1rem;
}
/* .footer-sections ul {
  margin-top: 1rem;
} */
.footer-sections ul li {
  margin-top: 1rem;
}
.footer-top-headings {
  margin-bottom: 1rem;
}

/* Copy Right */
.copy-right {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #ffffff;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
.copy-right p {
  margin-right: 1rem;
}

/* responsive query start here */

@media screen and (max-width: 768px) {
  .hero {
    height: auto;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    flex-direction: column;
    padding: 1rem;
  }
  .right-side,
  .left-side {
    margin: 0;
    width: 100%;
  }
  .right-side {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
  }
  .heading {
    font-size: 20px;
    line-height: 25px;
  }
  .sub-heading {
    font-size: 14px;
    line-height: 20px;
  }
  .person-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .person-img {
    height: 30px;
    width: 30px;
    border-radius: 0px;
  }
  .person-info-text {
    margin-left: 0.5em;
  }
  .person-name {
    font-size: 16px;
    font-weight: bold;
    margin-right: 1rem;
    color: #000000;
    border-bottom: #626262 1.1px solid;
  }
  .post-date {
    font-size: 14px;
    color: #000000;
    font-weight: bold;
    margin-right: 1rem;
  }
  .cards-hero {
    margin: 2rem 0;
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.6rem;
  }
  .card {
    height: auto;
    width: 100%;
    max-width: 100%;
    padding: 0.5em;
    margin-top: 0.5em;
  }
  .nav-links:nth-last-child() {
    margin-right: 0.5em;
  }
  .footer {
    justify-content: space-around;
  }
  .check-mai {
    display: flex;
  }
  .nav-links {
    display: none;
  }
}

@media screen and (max-width: 1165px) {
  .container {
    margin: 0 0.5em;
  }
  .hero {
    height: auto;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  }
  .heading {
    margin-bottom: 1em;
  }
  .sub-heading {
    margin-bottom: 1.5em;
  }
  .footer {
    justify-content: space-evenly;
  }
  .nav-links {
    margin-right: 0.5em;
  }
  .logo {
    margin-left: 0.5em;
  }
}

/* @media screen and (min-width: 768px) {
  
} */
